/* functional */

.virtual {
  box-sizing: border-box;
  position: relative;
  border: 1px solid red;
  overflow: scroll;
  contain: strict;
}
.virtual {
  scrollbar-width: none; /* Firefox */
}
.virtual::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.virtual--filler {
  z-index: -1;
}
.virtual--filler,
.virtual--row,
.virtual--column {
  position: absolute;
  contain: strict;
  top: 0;
  left: 0;
}

/* styling */

.virtual--row {
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.virtual--filler {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(255, 0, 0, 0.1) 45%,
    rgba(255, 0, 0, 0.1) 50%,
    transparent 50%,
    transparent 95%,
    rgba(255, 0, 0, 0.1) 95%,
    rgba(255, 0, 0, 0.1) 100%
  );
  background-size: 20px 20px;
}
