/* functional */

.virtual {
  box-sizing: border-box;
  position: relative;
  border: 1px solid red;
  overflow: scroll;
  contain: strict;
}
.virtual {
  scrollbar-width: none; /* Firefox */
}
.virtual::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.virtual--filler {
  z-index: -1;
}
.virtual--filler,
.virtual--row,
.virtual--column {
  position: absolute;
  contain: strict;
  top: 0;
  left: 0;
}

/* styling */

.virtual--row {
  background-color: #5e1b87;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.virtual--column {
  background-color: #968919;
}

.virtual--filler {
  background-color: #204290;
}

.test-cell-small {
  font-size: 0.8em;
}
